<!DOCTYPE html>
<html>
{% load List_extras %}
<head>
	{% if user.is_authenticated %}
	<h1>Hello {{ user.username }}!</h1>
	{% else %}
	<h1>To-Do List Login Page</h1>
	{% endif %}
</head>

<body>
	{% if user.is_authenticated %}
	You seem to be logged in already!
	<a href="list/">Click here to go to the list!</a>
	<form action="/logout/" method="POST">
	<form id="logout_form" action="/" method="post">
		{% csrf_token %}
		<input type="submit" value="logout" name="logout"/>
	</form>
	{% else %}



<a href="register/">Register Here</a>
<a href="login/">Click here to Login</a>
	{% endif %}
</body>
</html>