<!Doctype html>
<html>
	<head>
		<title>ToDoList</title>
	</head>

	<section>
	{% if user.is_authenticated %}
	You seem to be logged in already!
	<a href="/">Click here to go to the homepage!</a>
	<form action="/logout/" method="POST">
	<form id="logout_form" action="/" method="post">
		{% csrf_token %}
		<input type="submit" value="logout" name="logout"/>
	</form>
	{% else %}	
		<h1>Register with ToDoList</h1>
		
		{% if registered %}
			Thank you for registering!
			<a href="/">Return to the homepage.</a>
		{% else %}
			Register here!<br />
			<form id="user_form" method="POST" action="" enctype="multipart/form-data">
			{% csrf_token %}
			
			{{ user_form.as_p }}
			
			<input type="submit" name ="submit" value="register" />
			</form>
		{% endif %}
	{% endif %}
	</section>


	<style>
	h1 { text-align: center;}
		body {
        background: yellow }
    section {
        background: #663300;
        color: yellow;
        border-radius: 1em;
        padding: 1em;
        position: absolute;
        top: 50%;
        left: 50%;
        margin-right: -40%;
        transform: translate(-50%, -50%) }
     

	</style>
</html>