<!Doctype html>
<html>
	<head>
		<title>ToDoList</title>
	</head>
{% if user.is_authenticated %}
	You seem to be logged in already!
	<a href="/">Click here to go to the homepage!</a>
	<form action="/logout/" method="POST">
	<form id="logout_form" action="/" method="post">
		{% csrf_token %}
		<input type="submit" value="logout" name="logout"/>
	</form>
{% else %}	
	<body>
		<h1>Register with ToDoList</h1>
		
		{% if registered %}
			Thank you for registering!
			<a href="/">Return to the homepage.</a>
		{% else %}
			Register here!<br />
			<form id="user_form" method="POST" action="" enctype="multipart/form-data">
			{% csrf_token %}
			
			{{ user_form.as_p }}
			
			<input type="submit" name ="submit" value="register" />
			</form>
		{% endif %}
	</body>
{% endif %}
</html>